
parameters:
    level: 8

    paths:
        - config
        - resources
        - src
        - tests

    checkOctaneCompatibility: true
    checkMissingIterableValueType: false

    ignoreErrors:
        - message: '#undefined .* Pest\\.*#'
          paths:
              - tests/

        - message: '#Undefined variable: \$this#'
          paths:
              - tests/
