
parameters:
    level: 8

    paths:
        - config
        - resources
        - src
        - tests

    checkOctaneCompatibility: true
    checkMissingIterableValueType: false

    #ignoreErrors:
    #    - '#Call to an undefined method Faker\\Generator::#'
